# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022-2024, Collabora, Ltd.
.*
!.gitignore
.vscode
venv/
.env
*.json
!*.schema.json
__pycache__
*.egg-info
*.nbx
*.ipynb
*.md
!README.md
agenda.md
gitlab_cache.sqlite
!.mailmap

/*.html
