# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022-2024, Collabora, Ltd.
.*
!.gitignore
!.mailmap
*.json
!*.schema.json
*.egg-info
*.nbx
*.ipynb
__pycache__/
venv/

gitlab_cache.sqlite

/*.md
!README.md

/*.html
/*.pdf
/*.csv
/*.toml
